<template>
  <header class="py-[1%] bg-[#663399] px-[11%]">
    <div class="grid grid-cols-12 gap-4 w-full">
      <div class="col-span-2">
        <nuxt-link to="/"><img src="/img/empati.png" width="80%" alt="" class="logo_color" /></nuxt-link>
      </div>
      <div class="col-span-10 my-auto">
        <ul class="flex justify-end items-center space-x-12">
          <li v-for="(val, index) in links" :key="index">
            <nuxt-link :to="`${val.url}`" class="font-sans text-white">{{ val.name }} </nuxt-link>
          </li>
          <li class="flex space-x-4" v-if="!isAuthenticate">
            <nuxt-link to="/login"
              class="cursor-pointer py-3 px-4 bg-white border border-fuchsia-600 text-fuchsia-400 text-sm rounded-md shadow-lg shadow-violet-900 focus:outline-none">
              Login </nuxt-link>
            <nuxt-link to="/register"
              class="cursor-pointer py-3 px-4 bg-white text-fuchsia-500 text-sm rounded-md shadow-lg shadow-violet-900 focus:outline-none">
              Register</nuxt-link>
          </li>
          <li v-else class="relative">
            <figcaption class="flex items-center justify-center space-x-2 text-left">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 shadow cursor-pointer" viewBox="0 0 20 20"
                fill="currentColor" @click="isPerfil = !isPerfil">
                <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                  clip-rule="evenodd" />
              </svg>
              <!-- <img src="/img/max_user.jpg" alt="" class="w-8 h-8 rounded-full shadow cursor-pointer" loading="lazy"
                @click="isPerfil = !isPerfil" /> -->
              <div>
                <div class="text-violet-500 font-bold text-xs dark:text-white uppercase"> {{ logoutUser.user.name }} </div>
                <div class="text-xs leading-3 text-green-600">Usuario en linea </div>
              </div>
            </figcaption>
            <ul
              class="mt-2 absolute bg-gray-200 text-violet-500 space-y-2 w-[200px] font-sans shadow-sm divide-y divide-dashed divide-blue-200"
              :class="[isPerfil ? 'inline' : 'hidden']" @mouseleave="isPerfil = false">
              <li>
                <nuxt-link to="/perfil" class="block px-4 py-2 hover:bg-indigo-500/70 hover:text-white rounded-md">
                  Perfil
                </nuxt-link>
              </li>
              <li>
                <nuxt-link to="#" class="block px-4 py-2 hover:bg-indigo-500/70 hover:text-white rounded-md"> Cursos
                </nuxt-link>
              </li>
              <li>
                <nuxt-link to="#" class="block px-4 py-2 hover:bg-indigo-500/70 hover:text-white rounded-md">
                  Configuracion </nuxt-link>
              </li>
              <li class="mb-10">
                <nuxt-link
                  class="flex mx-2 my-1.5 py-2 px-3 items-center justify-center bg-indigo-500/70 hover:bg-indigo-500 cursor-pointer text-white text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/50 focus:outline-none"
                  @click="Logout()">Logout</nuxt-link>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </header>
</template>
<script>
import { ref } from "vue";
import { useAuth } from "@/store";
export default {
  setup() {
    const links = [
      { name: "Inicio", url: "/" },
      { name: "Servicios", url: "/servicios" },
      { name: "Contacto", url: "/contacto" },
      { name: "Blog", url: "/blog" }
    ];
    const router = useRouter()
    const logoutUser = useAuth()
    logoutUser.getCookies()
    const isPerfil = ref(false)
    const Logout = async () => {
      await logoutUser.userLogout()
      isPerfil.value = false
      router.push("/login")
    }

    return {
      links,
      Logout,
      isAuthenticate: computed(() => logoutUser.isLogged),
      isPerfil,
      logoutUser
    }
  }
}
</script>
