<script setup>
import { useAuth } from "@/store";
const res = useAuth()
const closeToast = () => {
    console.log("caramelitos");
    res.isToast.isActive = false
}
</script>
<template>
    <div class="w-full max-w-sm mt-4 overflow-hidden bg-white rounded-lg shadow-md pointer-events-auto ring-1 ring-black ring-opacity-5 absolute top-1 right-0"
        :class="[res.isToast.isActive ? '' : 'hidden', res.isToast.isType === 'info' ? 'shadow-yellow-500' : res.isToast.isType === 'success' ? 'shadow-green-500' : 'shadow-[#d75a4a]']">
        <div class="p-3 border border-dotted"
            :class="res.isToast.isType === 'info' ? 'border-yellow-500' : res.isToast.isType === 'success' ? 'border-green-500' : 'border-red-500'">
            <div class="flex items-start">
                <div class="shrink-0">
                    <img v-if="res.isToast.isType === 'info'" src="/img/info.svg" alt="" class="w-7 h-7">
                    <img v-else-if="res.isToast.isType === 'success'" src="/img/success.svg" alt="" class="w-6 h-6">
                    <img v-else src="/img/error.svg" alt="" class="w-6 h-6">
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="font-semibold capitalize"
                        :class="res.isToast.isType === 'info' ? 'text-yellow-500' : res.isToast.isType === 'success' ? 'text-green-500' : 'text-[#d75a4a]'">
                        {{ res.isToast.isTitulo }} </p>
                    <p class="text-sm font-semibold text-gray-500"> {{ res.isToast.isNombre }}</p>
                </div>
                <div class="flex ml-4 shrink-0">
                    <button @click="closeToast()"
                        class="inline-flex bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
                        :class="res.isToast.isType === 'info' ? 'text-yellow-500' : res.isToast.isType === 'success' ? 'text-green-500' : 'text-[#d75a4a]'">
                        <span class="sr-only">Close</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
