<template>
    <div class="container max-w-full mx-auto mt-10 px-6">
        <div class="font-sans">
            <div class="max-w-sm mx-auto px-6 pb-6 bg-[#663399]">
                <div class="relative flex flex-wrap">
                    <div class="w-full relative">
                        <div class="mt-6">
                            <div class="mb-5 pb-1 border-b-2 text-center font-base text-gray-700">
                                <a class="text-blue-500 text-3xl font-bold">Acceso de entrada</a>
                            </div>
                            <form class="mt-8" @submit.prevent="onLogin">
                                <div class="mx-auto max-w-lg">
                                    <div class="py-2">
                                        <span class="px-1 text-sm text-gray-100">Username</span>
                                        <input v-model="v$.usuario.$model" type="text"
                                            class="text-md block px-3 py-2  rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                                        <label class="text-red-400 text-xs font-thin" v-if="v$.usuario.$error"> {{
                                                v$.usuario.$errors[0].$message
                                        }} </label>
                                    </div>
                                    <div class="py-2" x-data="{ show: true }">
                                        <span class="px-1 text-sm text-gray-100">Password</span>
                                        <div class="relative">
                                            <input type="text" v-model="v$.password.$model"
                                                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                                            <label class="text-red-400 text-xs font-thin" v-if="v$.password.$error">
                                                {{ v$.password.$errors[0].$message }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="flex justify-between">
                                        <label class="block text-gray-500 font-bold my-4">
                                            <input type="checkbox" class="leading-loose text-pink-600">
                                            <span class="py-2 text-sm text-gray-100 leading-snug">Recordar</span>
                                        </label>
                                        <label class="block text-gray-500 font-bold my-4">
                                            <nuxt-link to="/password_reset"
                                                class="cursor-pointer no-underline tracking-tighter text-black">
                                                Olvide mi contraseña?</nuxt-link>
                                        </label>
                                    </div>
                                    <p v-if="storeAuth.errors" class="text-red-400"> {{ storeAuth.errors }} </p>
                                    <button type="submit"
                                        class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                                        {{ storeAuth.isloading ? "Cargando...." : "Login" }}
                                    </button>
                                </div>
                            </form>
                                <button @click="authProvider('google')" ref="googleButton" class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                                        LOGIN CON GOOGLE
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue';
import { useAuth } from "@/store";
import useVuelidate from '@vuelidate/core'
import { helpers, minLength, required } from '@vuelidate/validators'
import useToast from '../composables/toast';
import { stringify } from 'postcss';
export default {
    setup() {
        const googleButton = ref(null)
        const gapiAuthSetings = ref({
            clientId: '777273987358-sc4el173btov2duondsptnu5vvb0qq7e.apps.googleusercontent.com', 
            scope: 'profile email', 
            prompt: 'select_account', 
            fetch_basic_profile: false,
            plugin_name: 'Cliente web 1',
        })

        const formLogin = reactive({
            usuario: '',
            password: '',
        })
        const storeAuth = useAuth();
        const router = useRouter()

        const rules = computed(() => ({
            usuario: {
                required: helpers.withMessage('Usuario es requerido', required),
                minLength: helpers.withMessage('Minimo 4 caracteres', minLength(4))
            },
            password: {
                required: helpers.withMessage('Contraseña es requerido', required),
            },
        }))

        const v$ = useVuelidate(rules, formLogin)

        const onLogin = async () => {
            storeAuth.errors = ''
            v$.value.$validate()
            if (!v$.value.$error) {
                await storeAuth.userLogin(formLogin)
                if (storeAuth.errors === "") {
                    useToast('Success', `Bienvenido ${storeAuth.user.name}`, 'success', 3)
                    router.push("/")
                }
            }
        }

        
        const authProvider = () => {
            //if(process.client){
                window.gapi.auth2.getAuthInstance().signIn(gapiAuthSetings.value).then(res => {
                    onSuccess(res)
                }, err => {
                    onError(err)
                })
            //}
        }

        const onSuccess = (res) => {
            console.log(res);
            const data = res.getBasicProfile()
            const user = {
                usuario: data.getEmail(),
                password: data.getId()
            }
            console.log(user);
        }
        const onError = (err) => {
            console.log("Error: " + JSON.stringify(err));
            if(err.error === 'popup_closed_by_user'){
                console.error("User has closed the popup");
            }
        }
        return {
            v$,
            storeAuth,
            onLogin,
            authProvider
        }
    },
}
</script>