<template>
    <div class="grid place-items-center h-screen bg-[#663399]">
        <div class="max-w-sm">
            <h1 class="mb-2 text-center text-3xl font-semibold text-slate-900">Restablecer su contraseña</h1>
            <p class="mb-10 text-center text-sm text-amber-100">Ingrese su correo electrónico y le enviaremos un enlace
                para
                restablecer su contraseña.</p>
            <form class="w-full" @submit.prevent="onResetPassword">
                <div class="">
                    <label class="block text-sm font-semibold leading-6 text-slate-900">Dirección de correo
                        electrónico</label>
                    <input type="text" v-model="v.email.$model"
                        class="mt-2 appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200">
                    <label class="text-red-400 text-xs font-thin" v-if="v.email.$error"> {{
                            v.email.$errors[0].$message
                    }} </label>
                </div>
                <label class="text-red-400 font-thin"> 
                    {{storeReset.errors}}
                </label>
                <button type="submit"
                    class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 mt-6 w-full" :class="storeReset.isloading ? 'disabled:opacity-25':'' " :disabled="storeReset.isloading"><span>{{ storeReset.isloading ? "Enviando...." : "Restablecer su contraseña" }} </span></button>
            </form>
        </div>
        <footer class="relative shrink-0">
            <nuxt-link to="/login"
                class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 text-slate-900 ring-1 ring-slate-900/10 hover:ring-slate-900/20">
                Ir al login ->
            </nuxt-link>
        </footer>
        <toast />
    </div>
</template>
<script>
import useToast from '../composables/toast';
import { useAuth } from "@/store";
import useVuelidate from '@vuelidate/core'
import { helpers, required, email } from '@vuelidate/validators'
definePageMeta({
    layout: false,
});
export default {
    setup() {
        const storeReset = useAuth();
        const formEmail = reactive({
            email: ''
        })
        const rules = computed(() => ({
            email: {
                required: helpers.withMessage('Email es requerido', required),
                email: helpers.withMessage('El correo electrónico no es válida', email)
            }
        }))

        const v = useVuelidate(rules, formEmail)

        const onResetPassword = async () => {
            storeReset.errors = ""
            v.value.$validate()
            if (!v.value.$error) {
                await storeReset.recoverPassword(formEmail)
                 if (storeReset.errors === "") {
                    useToast('Success', '¡Le hemos enviado por correo electrónico el enlace para restablecer su contraseña!', 'success', 5)
                }
            }
        }
        return {
            v,
            onResetPassword,
            storeReset
        }

    },
}
</script>