<template>
    <div class="mt-10 mx-auto">
        <h1 class="mb-2 text-center text-lg font-semibold text-gray-900">Cambiar mi contraseña</h1>
        <!-- <p class="mb-10 text-center text-sm">Ingresa tu nueva contraseña.</p> -->
        <div class="w-full max-w-sm mx-auto">
            <label class="sr-only">Contraseña</label>
            <div class="relative mt-2">
                <input type="password"
                    class="appearance-none bg-white rounded-md block w-full px-3 py-2 border border-transparent shadow ring-1 sm:text-sm focus:outline-none text-gray-900 ring-gray-900 ring-opacity-5 placeholder-gray-400 focus:border-teal-500 focus:ring-teal-500"
                    placeholder="Ingresa tu nueva Contraseña" v-model="v.password.$model" @blur="v.password.$commit">

                <span v-if="v.password.$error" class="text-red-500 text-xs font-thin">
                    {{ v.password.$errors[0].$message }}
                </span>
                <!-- <template v-if="$v.password.$dirty && $v.password.$invalid">
                    <span v-if="!$v.email.email" class="error">Must be a valid email address.</span>
                    <span v-if="!$v.password.required" class="error">Must be a valid email address.</span>
                    <span v-if="!$v.password.minLength" class="error">Required field.</span>
                </template> -->
            </div>
            <button @click="changePassword()"
                class="mt-4 block w-full rounded-md border border-transparent bg-gray-700 py-2 px-3 font-medium text-white shadow-sm hover:bg-gray-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-50 sm:text-sm">Reiniciar
                tu contraseña</button>
        </div>
    </div>
</template>
<script>
import { reactive } from 'vue';
import { useAuth } from "@/store";
import useToast from '../composables/toast';

import useVuelidate from '@vuelidate/core'
import { required, minLength, helpers } from '@vuelidate/validators'

export default {
    middleware: ["auth"],
    setup() {
        //const alpha = helpers.regex("alpha", /^[a-zA-Z\s]*$/);
        const storeAuth = useAuth();
        const state = reactive({
            password: ''
        })
        const rules = computed(() => ({
            password: {
                required: helpers.withMessage('Este campo es requerido', required),
                minLength: helpers.withMessage(({ $params }) => `Este campo debe tener al menos ${$params.min} caracteres`, minLength(2))
            },
        }))

        const v = useVuelidate(rules, state)

        const changePassword = () => {
            v.value.$validate()
            if (!v.value.$error) {
                storeAuth.resetPassUser(state.password)
                if (storeAuth.errors === "") {
                    useToast('Success', 'Se cambiado su contraseña con éxito.', 'success', 3)
                }
                
            }
        }

        return {
            v,
            changePassword
        }
    }
}
</script>