<template>
  <div class="grid place-items-center h-screen bg-[#663399]">
    <div class="max-w-sm">
      <h1 class="mb-2 text-center text-3xl font-semibold text-slate-900">
        Restablecer su contraseña
      </h1>
      <!-- <p class="mb-10 text-center text-sm text-amber-100">Ingrese su correo electrónico y le enviaremos un enlace para
                restablecer su contraseña.</p> -->
      <form class="w-full" @submit.prevent="onUpdatePassword">
        <div class="">
          <label
            for="email-address"
            class="block text-sm font-semibold leading-6 text-slate-900"
            >Nueva contraseña
          </label>
          <input
            v-model="v.password.$model"
            type="password"
            class="mt-2 appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200"
          />
          <label class="text-red-400 text-xs font-thin" v-if="v.password.$error">
            {{ v.password.$errors[0].$message }}
          </label>
        </div>
        <div class="mt-2">
          <label
            for="email-address"
            class="block text-sm font-semibold leading-6 text-slate-900"
            >Confirmar contraseña
          </label>
          <input
            v-model="v.password_confirmation.$model"
            type="password"
            class="mt-2 appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200"
          />
          <label
            class="text-red-400 text-xs font-thin"
            v-if="v.password_confirmation.$error"
          >
            {{ v.password_confirmation.$errors[0].$message }}
          </label>
        </div>
        <label class="text-red-400 font-thin">
          {{ storeResetPas.errors }}
        </label>
        <button
          type="submit"
          class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 mt-6 w-full"
          :class="storeResetPas.isloading ? 'disabled:opacity-25' : ''"
          :disabled="storeResetPas.isloading"
        >
          <span>{{
            storeResetPas.isloading ? "Restableciendo...." : "Restablecer contraseña"
          }}</span>
        </button>
      </form>
    </div>
    <footer class="relative shrink-0">
      <div
        class="space-y-4 text-sm text-gray-900 sm:flex sm:items-center sm:justify-center sm:space-y-0 sm:space-x-4"
      >
        <p class="text-center sm:text-left">¿Ya tienes una cuenta?</p>
        <nuxt-link
          to="/login"
          class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 text-slate-900 ring-1 ring-slate-900/10 hover:ring-slate-900/20"
        >
          <span>Obtener acceso →</span>
        </nuxt-link>
      </div>
    </footer>
    <toast />
  </div>
</template>
<script>
import useToast from "../composables/toast";
import { useAuth } from "@/store";
import useVuelidate from "@vuelidate/core";
import { helpers, required, minLength, sameAs } from "@vuelidate/validators";
definePageMeta({
  layout: false,
});
export default {
  setup() {
    const paramString = useRoute();
    const storeResetPas = useAuth();

    const formPassword = reactive({
      email: paramString.query.email,
      token: paramString.query.token,
      password: "",
      password_confirmation: "",
    });

    const rulesa = computed(() => ({
      email: { required },
      token: { required },
      password: {
        required: helpers.withMessage("Password es requerido", required),
        minLength: helpers.withMessage("Minimo 6 caracteres", minLength(6)),
      },
      password_confirmation: {
        required: helpers.withMessage("Confirmar password es requerido", required),
        sameAsPassword: helpers.withMessage(
          "El password no coincide",
          sameAs(formPassword.password)
        ),
      },
    }));
    const v = useVuelidate(rulesa, formPassword);

    const onUpdatePassword = async () => {
      storeResetPas.errors = "";
      v.value.$validate();
      if (!v.value.$error) {
        await storeResetPas.resetPassword(formPassword);
        if (storeResetPas.errors === "") {
          useToast("Success", "Restablecimiento de contraseña con éxito", "success", 5);
        }
      }
    };

    return {
      v,
      storeResetPas,
      onUpdatePassword,
    };
  },
};
</script>
